<h1>Hello World</h1>
<button id="startGameButton">Create Game</button>

<div id="GamePlaying">

	<div id="center" class="hide">
		<div class="tidecard1 tidecard"></div>
		<div class="tidecard2 tidecard"></div>
	</div>
<div id="userPlayer" class="hide">
	<p class="cycle">Cycle:</p>
	<p class="round">Round:</p>
	<div class="tidecard"></div>
	<div class="weathercard"></div>
	<p class="life">Life:</p>
	<div class="hand"><div class="row row1"></div><div class="row row2"></div></div>
	<div class="myprofile"></div>
	<p class="userName">Name:</p>
	<p class="mark">Mark:</p>
</div>

</div>