<div id="main">
	<h1>Hello World</h1>
	<p id='playerName'></p>
    <p id='playerScore'></p>
	<button id="createRoomButton">Create Room</button>
    <button id="matchButton">Match</button>

	<select id="gameRoomSize">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>

    <input type="text" id="createRoomName"></input>

	<ul id="gameRoomList">
	</ul>

	<div id="gameRoom" class="hide">
		<p id="gameRoomName">Room 1</p>
		<p id="gameRoomCount">4/5</p>
		<div id="gameRoomPlayer1" class="gameRoomPlayer">
			<img src="images/user.gif" />
			<p id="playerName">Player</p>
		</div>
		<div id="gameRoomPlayer2" class="gameRoomPlayer">
			<img src="images/user.gif" />
			<p id="playerName">Player</p>
		</div>
		<div id="gameRoomPlayer3" class="gameRoomPlayer">
			<img src="images/user.gif" />
			<p id="playerName">Player</p>
		</div>
		<div id="gameRoomPlayer4" class="gameRoomPlayer">
			<img src="images/user.gif" />
			<p id="playerName">Player</p>
		</div>
		<div id="gameRoomPlayer5" class="gameRoomPlayer">
			<img src="images/user.gif" />
			<p id="playerName">Player</p>
		</div>
		<div id="gameRoomButtonGroup">
			<button id="gameRoomStartBtn">Start</button>
			<button id="gameRoomExitBtn">Leave</button>
		</div>
	</div>
</div>


<div id="GamePlaying" class="hide">

	<div id="center" class="hide">
		<div class="tidecard1 tidecard"></div>
		<div class="tidecard2 tidecard"></div>
	</div>
<div id="userPlayer" class="hide">
	<p class="cycle">Cycle:</p>
	<p class="round">Round:</p>
	<div class="tidecard"></div>
	<div class="weathercard"></div>
	<p class="life">Life:</p>
	<div class="hand"><div class="row row1"></div><div class="row row2"></div></div>
	<div class="myprofile"></div>
	<p class="userName">Name:</p>
	<p class="mark">Mark:</p>
</div>

</div>
