<div id="loading">
	<img src="/images/loading.gif"></img>
</div>

<div id="main">
	<div class="row margin-bottom">
		<div class="column_4 radius bck light padding-top padding-bottom row2 left_col">
		
			<div class="pro_file_div">
				<img src="/images/user.jpg" class="pro_pic">
			</div>
			<div class="pro_name">
				<h6 class="color normal text bold" id="userName">Name</h6>
				<h6 class="color normal text bold" id="userScore">Score</h6>
			</div>
			
			<br><br><br>
			
			<div class="margin-top" style="height:408px;">
				<button id="matchButton" class="match_btn">Match</button><br><br><br>
				<!-- <button id="createRoomButton" data-tuktuk-modal="big_modal" class="cre_rm_btn">Create Room</button> -->
				<button data-tuktuk-modal="gameRoomSelection" class="cre_rm_btn" id="createRoomButton">Create Room</button>
			</div>
		</div>
		
		<div class="column_8 radius bck light padding-top padding-bottom row2 right_col">
			<div class="row" style="margin: 0px;">
				<form id="searchbox" name="form">
					<input type="text" name="default" id="search_rm_txt" placeholder="Search Room Here">
				</form>
			</div>
			<div id="gameRoomList" class="row">
			</div>
		</div>
		
	</div>

	<div class="row row3">
		<div id="ranking" class="column_12 radius bck light row3">
			<div id="rank_table" class="row padding-left padding-right">
			</div>
		</div>
	</div>
</div>

<!-- <div id="block" class="block">
</div> -->

<div id="gameRoomSelection" data-tuktuk="modal" class="column_5">
    <header>
        <h4 class="text thin">Create New Room</h4>
    </header>
    <article>
		<form id="createRoomForm" name="form" class="margin-top">
			<fieldset class="createRmfield">
				<label>Size:<small>required</small></label>
				<span class="select">
					<select id="gameRoomSize">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</span>
			</fieldset>
			<br>
			<fieldset class="createRmfield">
				<label>Name:<small>required</small></label>
				<input type="text" name="name" id="name">
			</fieldset>
		</form>
    </article>
    <footer>
    	<button id="createRoomStartBtn" class="button success">Create</button>
        <button data-modal="close" class="button secondary"><span class="icon remove"></span>Close</button>
    </footer>
</div>

<div id="gameRoom" data-tuktuk="modal" class="column_9">
    <header>
        <h4 class="text thin" id="gameRoomName">Create New Room</h4>
    </header>
    <article>
		<!-- <p id="gameRoomName">Room 1</p> -->
		<p id="gameRoomCount">4/5</p>
		<div class='row'>
			<div id="gameRoomPlayer1" class="gameRoomPlayer column_2">
				<img src="images/no_user.jpg" />
				<p id="playerName" class="text center">Player</p>
			</div>
			<div id="gameRoomPlayer2" class="gameRoomPlayer column_2">
				<img src="images/user.jpg" />
				<p id="playerName" class="text center">Player</p>
			</div>
			<div id="gameRoomPlayer3" class="gameRoomPlayer column_2">
				<img src="images/user.jpg" />
				<p id="playerName" class="text center">Player</p>
			</div>
			<div id="gameRoomPlayer4" class="gameRoomPlayer column_2">
				<img src="images/user.jpg" />
				<p id="playerName" class="text center">Player</p>
			</div>
			<div id="gameRoomPlayer5" class="gameRoomPlayer column_2">
				<img src="images/user.jpg" />
				<p id="playerName" class="text center">Player</p>
			</div>
		</div>
	</article>
	<footer>
		<button id="gameRoomStartBtn" data-modal="close" class="button">Start</button>
		<button id="gameRoomExitBtn" data-modal="close" class="button secondary">Leave</button>
	</footer>
</div>


<div class="row">
	<div id="GamePlaying" class="hide">

		<div id="center" class="hide">
			<div class="tidecard1 tidecard">
			</div>
			<div class="tidecard2 tidecard">

			</div>
		</div>
		<div id="userPlayer" class="hide">
			<p class="cycle">Cycle:</p>
			<p class="round">Round:</p>

			<div class="weathercard"></div>
			<div class="life"></div>
			<div class="hand"><div class="myrow row1"></div></div>
			<div class="myprofile"></div>
			<h5 class="userName color theme text bold">Name:</h5>
			<p class="mark">Mark:</p>
		</div>
	</div>
</div>

 
 <div id="endGameModal" data-tuktuk="modal" class="column_5">
     <header>
         <h4 class="text thin">End Game</h4>
     </header>
     <article>
 		
     </article>
     <footer>
        <button data-modal="close" class="button secondary cs"><span class="icon remove"></span>Close</button>
		<button  class="button secondary cont">Continue</button>
		<button data-modal="close" class="button secondary endGame">End Game</button>
     </footer>
 </div>
