#GamePlaying
{
	position:absolute;
	//top:100px;
	width:800px;
	height:600px;
	//border:solid 1px;
	background: url("/images/bg.jpg");
}

#center
{
	position:absolute;
	top:50%;
	left:37%;

	width:200px;
	height:100px;
	
}

#center>.tidecard1
{
	position:absolute;
	top:-100%;
	left:5%;
}

#center>.tidecard2
{
	position:absolute;
	top:-100%;
	right:5%;
}
.tidecard
{
	width:60px;
	height:100px;
	/*border:solid 1px;*/
}

.weathercard
{

	width:60px;
	height:100px;
	/*border:solid 1px;*/
}

.lifeguard
{
	width:20px;
	height:20px;
}

.otherPlayer
{

	width:35%;
	height:20%;

}


.profile
{
	width:60px;
	height:60px;
	/*border:solid 1px;*/
}

.myprofile
{
	width:90px;
	height:90px;
	/*border:solid 1px;*/
}

.playerLeft>.name
{
	position:absolute;
	bottom:5px;
	left:10%;
	display:inline;
}

.playerLeft>.mark
{
	position:absolute;
	bottom:5px;
	left:56%;
	display:inline;
}

.playerLeft>.life
{
	position:absolute;
	bottom:-5%;
	left:8%;
	display:inline;
}

.playerLeft>.profile
{
	position:absolute;
	top:15%;
	left:10%;
}
.playerLeft>.tidecard
{
	position:absolute;
	top:-13%;
	left:40%;
}

.playerLeft>.weathercard
{
	position:absolute;
	top:-13%;
	left:70%;
}

.pos1
{
	position:absolute;
	left:0%;
	top:30%;
}

.pos2
{
	position:absolute;
	right:0%;
	top:30%;
}

.pos3
{
	position:absolute;
	left:260px;
	top:20px;
}

.pos4
{
	position:absolute;
	right:50px;
	top: 20px;
}

.hide
{
	display:none !important;
}

#userPlayer
{
	position:absolute;
	width:800px;
	height:250px;
	bottom:2%;

	
}

#userPlayer>.cycle
{
	position:absolute;
	top:25%;
	left:28px;
}

#userPlayer>.round
{
	position:absolute;
	top:40%;
	left:28px;
}

#userPlayer>.life
{
	position:absolute;
	left:22px;
	top:10%;
}

#userPlayer>.tidecard
{
	position:absolute;
	left:40%;
	
}


#userPlayer>.weathercard
{
	position:absolute;
	left:55%;	
}

#userPlayer>.myprofile
{
	position:absolute;
	left:75%;
	top:0%;

}


#userPlayer>.mark
{
	position:absolute;
	left:85%;
	top:40%;
	
}

#userPlayer>.userName
{
	position:absolute;
	left:70%;
	top:40%;
	color: #1AE7BF !important;
}

#userPlayer>.hand
{
	position:absolute;
	width:800px;
	height:100px;

	bottom:4%;


}

.myrow
{
	margin:auto;
	width:780px;
	border: 0px solid transparent;
	transition: border 0.1s linear, box-shadow 0.5s linear;
}

.myrow.ani {
	box-shadow: 0 0 50px rgb(221, 241, 142);
	border-color: white;
	-webkit-border-radius: 8px;
}


.myrow>.weathercard
{
	display: inline-block;
	margin-left: 5px;
	margin-bottom:10px;
}


img.grayscale {

	/* for Webkit browsere, Chrome 19+, Safari 6+ ... */
	-webkit-filter: grayscale(1);

	/* this is for Firefox 3.5+, Firefox mobile */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");

	/* for IE6+ */
	filter: gray;
}

.lifeunit{
	position:absolute;
	width:30px;
	height:30px;
}
.face
{
	position:absolute;
}

.gameRoomPlayer,#endGameModal img {
	width: 50px;
	margin: auto;
	display: block;
}

.weathercard {
	-webkit-border-radius: 8px;
	border: 2px solid white;
}