.color_green{
	color:#00FF00;
}

.color_gray{
	color:#B0B0B0;
}

.color_orange{
	color:#FF9933;
}

#title_div{
	position:relative;
	z-index:1;
	width: 228px;
	height: 25px;
}

#title_div img{
	width:100%;
	height:100%;
}

.info_col{
	position:absolute;
	z-index:0;
	width:228px;
	height:400px;
	background-image: url(/images/turn_the_tide.jpg);
	background-size:800px 600px;
	background-repeat:no-repeat;
	background-position:initial;
	opacity:0.1;
}

.gameroom_col{
	position:absolute;
	z-index:0;
	width:484px;
	height:400px;
	background-image: url(/images/turn_the_tide.jpg);
	background-size:800px 600px;
	background-repeat:no-repeat;
	background-position:-250px 0px;
	opacity:0.1;
}

.fd_list_col{
	position:absolute;
	z-index:0;
	width:740px;
	height:110px;
	background-image: url(/images/turn_the_tide.jpg);
	background-size:800px 600px;
	background-repeat:no-repeat;
	background-position:0px -420px;
	opacity:0.1;
}

.pro_file_div{
	position:relative;
	width:150px;
	height:150px;
	bottom:9px;
	left:39px;
	z-index:1;
}

.pro_pic{
	width:150px;
	height:150px;
}

.pro_name{
	width:100%;
	position:relative;
	z-index:1;
	left:-15px;
}

.Three_Dee{
font-family: 'Comic Sans MS', cursive;
line-height: 1em;
color: #8f8d9e;
font-weight:bold;
font-size: 25px;
text-shadow:0px 0px 0 rgb(123,121,138),1px 1px 0 rgb(114,112,129),2px 2px 0 rgb(104,102,119),3px 3px 0 rgb(94,92,109),4px 4px 0 rgb(85,83,100),5px 5px 0 rgb(75,73,90),6px 6px 0 rgb(65,63,80),7px 7px 0 rgb(56,54,71),8px 8px 0 rgb(46,44,61), 9px 9px 0 rgb(36,34,51),10px 10px 9px rgba(0,0,0,0.6),10px 10px 1px rgba(0,0,0,0.5),0px 0px 9px rgba(0,0,0,.2);}

.score_div{
	position:relative;
	left:10px;
}

.info_btn_gp{
	z-index:1;
	height:408px;
}

.match_btn{
	position:relative;
	left:51px;
	width:132px;
}

.cre_rm_btn{
	position:relative;
	left:51px;
}

.join_btn{
	width:91px;
	height:33px;
}

.spec_btn{
	position:relative;
	top:7px;
	width:91px;
	height:33px;
}

#gameRoomList{
	position:relative;
	/*top:-140px;*/
	/*height:430px;*/
	height:330px;
	overflow:auto;
	overflow-x:hidden;
	/*margin: 0px;*/
}

#ranking{
	height:110px;
	width:740px;
	overflow:auto;
	overflow-y:hidden;
}

#ranking img{
	width: 60px;
	height: 60px;
	margin: auto;
	display: block;
}

#gameRoomList img{
	width:42px;
	height:42px;
}

#rank_table{
	position:relative;
}

.empty_div{
	width:20px;
	height:100px;
	float:left;
}

.fd_div{
	float:left;
}

.rm_row{
	position:relative;
	left:50px;
	/*margin: 0px !important ;*/
}

.row2{
	height:400px;
}

.row3{
	height:170px;
}

/*.left_col {
	width: 228px;
}

.right_col {
	width: 484px;
}*/

#block{
	position:absolute;
	height:600px;
	width:800px;
	opacity:0.9;
	background-color:black;
	top:0px;
	left:0px;
}

.block{
	display:none;
}

/*#gameRoomSelection{
	width:400px;
	height:190px;
	background-color:#b0c4de;
	position:absolute;
	top:205px;
	left:200px;
	border:1px solid black;
}*/

.createRmfield{
	position:relative;
	left:-20px;
}

#gamesize_div{
	position:relative;
	left:62px;
}

/*#createRoomButtonGroup{
	position:relative;
	left:97px;
}*/

#searchbox{
	position:relative;
	/*background-color: #eaf8fc;
	background-image: linear-gradient(#fff, #d4e8ec);
	border-radius: 35px;    
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;   */         
	width: 484px;
	height: 50px;
	padding: 10px;
	overflow: hidden; /* Clear floats */
	/*margin: 0px;*/
}

#search_rm_txt{
	height:23px;
}

#loading {
	background: black;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

#loading img {
	height: 300px;
	width: 300px;
	margin: auto;
	display: block;
}
